{% extends "listletter/base.html" %}

{% block title %}
   {% if email.id == None %}
      Create address
   {% else %}
      Change address
   {% endif %}
{% endblock %}

{% block section_title %}
   {% if email.id == None %}
      Add address
   {% else %}
      Change address
   {% endif %}
{% endblock %}

{% block content %}
<br>
<form enctype="multipart/form-data" action="" method="post"
id="emailtarget_form">{% csrf_token %}
  
  <table>
<div>
<input type="hidden" id="id" name="id" value="{{ email.id }}"/>
  <fieldset>
	<tr>
	<div>
	<td>
	<label for="id_name">Name:</label>
	</td>
	<td>
	<input name="name" value="{{ email.name }}" 
	       maxlength="128" type="text" id="id_name"
	       class="text"/>
	</td>
	</div>       
	</tr>

	<tr>
	<div>
	<td>
	<label for="id_address">Email
	address:</label>
	</td>
	<td>
	<input name="address" value="{{ email.address }}" 
	       maxlength="320" type="text" 
	       id="id_address" class="text"/>
	</td>
        </div>
  	<tr>

  	 <div>
		<td>
              <label for="id_groups">Groups:</label>
	      <div class="smaller">
	      Press &lt;Save&gt; or
              &lt;Save and goto contacts&gt; to save all 
              selected groups for this user.
              Hold down "Control", or "Command" on MacOs,
              to select more than one. 
	      </div>
	      </td>
	      <td>
	      <select multiple="multiple" name="groups" id="id_groups">
	      {% spaceless %}
		 {% for group in groups %}
		    <option value="{{ group.id }}"
		    {% if email.id != None %}
		       {% for emailgroup in email.groups.all %}
			  {% if emailgroup.id == group.id %}
			     selected="selected"
			  {% endif %}
		       {% endfor %}
		    {% endif %}
		    >
		    {{ group.name }}
		    </option>

		 {% endfor %}
	      {% endspaceless %} 
	      </select>
	      </td>
	      </tr>

      </div>
    </table>

</fieldset>


<input type="submit" value="Save" name="_save" />
<input type="submit" value="Save and goto contacts" name="_save_goto_contacts" />
{% if email.id != None %}
<a href="delete/">Delete</a>
{% endif %}

<script type="text/javascript">

</script>


</div>

</form>


{% endblock %}
